button{
    border:2px solid $yellow;
    background:transparent;
    padding:10px;
    font-family:$font-family-monospace !important;
    font-weight:bold;
    text-transform:uppercase !important;
}
